@import "tailwindcss";
@import "tw-animate-css";

@keyframes wave {
  0% { transform: scaleY(0.4); }
  50% { transform: scaleY(1); }
  100% { transform: scaleY(0.4); }
}

.animate-wave {
  animation: wave 1s infinite ease-in-out;
}
